<a href="https://colab.research.google.com/github/Prashanth-557/ML-Practicals/blob/main/ML_Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')


csvf = df.to_csv('/content/drive/My Drive/ML Experiments/marks.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

NameError: name 'df' is not defined

In [ ]:
csvf = df.to_csv('/content/drive/D:/ML Experiments/marks.csv')

NameError: name 'df' is not defined

In [9]:
import pandas as pd
from sklearn.impute import SimpleImputer

def generate_example_dataset():
    data = {
        'PassengerId': [1, 2, 3, 4, 5],
        'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
        'Age': [22, None, 25, None, 30],
        'Fare': [7.25, 71.28, None, 8.05, 10.5],
        'Survived': [0, 1, 1, 0, 1]
    }
    return pd.DataFrame(data)

def clean_dataset(df):
    print("Original Dataset:")
    print(df)
    numeric_df = df.select_dtypes(include='number')
    imputer = SimpleImputer(strategy='mean')
    numeric_cleaned = pd.DataFrame(imputer.fit_transform(numeric_df), columns=numeric_df.columns)
    df[numeric_df.columns] = numeric_cleaned

    print("\nCleaned Dataset:")
    print(df)

if __name__ == "__main__":
    example_dataset = generate_example_dataset()
    clean_dataset(example_dataset)

Original Dataset:
   PassengerId     Name   Age   Fare  Survived
0            1     John  22.0   7.25         0
1            2     Jane   NaN  71.28         1
2            3      Bob  25.0    NaN         1
3            4    Alice   NaN   8.05         0
4            5  Charlie  30.0  10.50         1

Cleaned Dataset:
   PassengerId     Name        Age   Fare  Survived
0          1.0     John  22.000000   7.25       0.0
1          2.0     Jane  25.666667  71.28       1.0
2          3.0      Bob  25.000000  24.27       1.0
3          4.0    Alice  25.666667   8.05       0.0
4          5.0  Charlie  30.000000  10.50       1.0